[submodule "kernel"]
	path = kernel
	url = https://github.com/Reduct-OS/kernel.git
	branch = main
[submodule "driver"]
	path = driver
	url = https://github.com/Reduct-OS/driver.git
	branch = main
[submodule "apps"]
	path = apps
	url = https://github.com/Reduct-OS/apps.git
